<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
<style>
    body {
        background-image: url("http://i.imgur.com/O7ZWigt.png")
    }
</style>
</head>

<body>
    <center>
        <h1>POKEMON BATTLE</h1>
        <br>
        <br>
    <form action="http://localhost:5000/hasil" method="POST" enctype="multipart/form-data">   
    <p><input name="pokemon1" placeholder="Pokemon1..."type="text"> VS <input name="pokemon2" placeholder="Pokemon2..."type="text"</p>
    <p><input type="submit" value="BATTLE!"/></p>
    </form>
    </center> 

</body>
</html>
